<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>

<!--input 태그는 form 안에 적어 두는게 좋음-->
<!--input 태그에 type의 형태에 따라 다양한기능 구현 가능-->
<body class="grey-bg">

    <%- include('nav.ejs') %>
    
    <%= JSON.stringify(result) %>
    <div class="detail-bg">
        <!--object 자료에서 데이터만 뽑고 싶으면?-->
        <!--(.)점찍고 자료이름-->
        <h4><%= result.title %></h4>
        <p><%= result.content %></p>
    </div> 
  
  </body>
</html>