<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>time 9강 숙제</title>
</head>
<body>
    <%= time %>
</body>
</html>